* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
}

span {
  color: beige;
  font-size: 20px;
  font-family: sans-serif;
}

section {
  width: 100vw;
  height: 400vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
  height: 70px;
  border-bottom: 0.5px solid beige;
  display: grid;
  place-items: center;
}

.title {
  font-size: 30px;
}

section img {
  max-height: 100vh;
}

section img:last-child {
  grid-column: 1 / 3;
}
